@{
    ViewData["Title"] = "Delete";
}

@model Bowler

<div class="text-center">
    <h1>Confirm Deletion</h1>


    <p>Are you sure you want to delete <b>Bowler @Model.BowlerLastName</b></p>
    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit">Delete</button>
        <button asp-controller="Home" asp-action="Index">Cancel</button>

        <input type="hidden" asp-for="BowlerID" />
    </form>
</div>